/*=================================================================================================
Project:  Blockus
Version:  1.1.0
Last change:  07/10/2016
Design by:  TemplatesPRO.com.br
---------------------------------------------------------------------------------------------------

INDEX:
01) PRELOADER
02) MODAL
03) NAVBAR - NAVBAR TOGGLE - NAVBAR COLLAPSE
04) SLIDERS
05) HOME
06) FEATURES
07) OVERVIEW
08) GALLERY
09) TESTIMONIALS
10) PRICES
11) TEAM
12) BLOG
13) CONTACT
--- BLOG ---
14) PAGE DETAIL
15) SIDEBAR - MODULE SEARCH
16) SIDEBAR - MODULE CALENDAR
17) SIDEBAR - MODULE MENU CATEGORIES
18) SIDEBAR - MODULE RECENT POSTS
19) SIDEBAR - MODULE ARCHIVES
20) SIDEBAR - MODULE RECENT COMMENTS
21) SIDEBAR - MODULE TAG
22) CONTENT - MODULE CATEGORIES
23) CONTENT - BLOG META
24) CONTENT - BLOG AUTHOR INFO
25) CONTENT - MODULE RELATED POSTS
26) CONTENT - MODULE AUTHOR POSTS
27) CONTENT - PAGINATION
28) CONTENT - MODULE COMMENTS
---------------------------------------------------------------------------------------------------

PALLETE:
Main Color:
#f44336

Main Color Variables:
#e9392d
#d33428
#ff4d3f
rgba(244, 67, 54, 0.1)
=================================================================================================*/


/*------------------------------------------------------------------------------------------------
 01) PRELOADER
 ------------------------------------------------------------------------------------------------*/
@-webkit-keyframes color-change {
  0% {
    color: #f44336;
    background: #eee;
  }
  50% {
    color: #fff;
    background: #f44336;
  }
  100% {
    color: #f44336;
    background: #eee;
  }
}
        @keyframes color-change {
          0% {
            color: #f44336;
            background: #eee;
          }
          50% {
            color: #fff;
            background: #f44336;
          }
          100% {
            color: #f44336;
            background: #eee;
          }
        }


/*------------------------------------------------------------------------------------------------
 02) MODAL
 ------------------------------------------------------------------------------------------------*/
/* Modal Form (SLIDESHOW)
 ......................................*/
.slideshow-modal .panel-heading { background-color: #f44336; }

.slideshow-modal .btn { background-color: #f44336; }

/* Modal Info (GALLERY)
 ......................................*/
.gallery-modal .title-info-modal { background-color: #f44336; }


/*------------------------------------------------------------------------------------------------
 03) NAVBAR - NAVBAR TOGGLE - NAVBAR COLLAPSE
 ------------------------------------------------------------------------------------------------*/
/* Home
 ......................................*/
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover { background-color: #f44336; }

/* Internal
 ......................................*/
.top-nav-collapse .navbar-nav>.active>a,
.top-nav-collapse .navbar-nav>.active>a:focus,
.top-nav-collapse .navbar-nav>.active>a:hover { background-color: #f44336; }


/*------------------------------------------------------------------------------------------------
 04) SLIDERS
 ------------------------------------------------------------------------------------------------*/
.slide-testimonials-bloquotes .slick-track { background-color: #f44336; }

/* Carousel Controls
 ......................................*/
.slick-prev:hover:before,
.slick-next:hover:before { color: #f44336; }


/*------------------------------------------------------------------------------------------------
 05) HOME
 ------------------------------------------------------------------------------------------------*/
/* Slideshow - Objects
 .................................................................................*/
.slideshow .btn { border-color: #f44336; }
.slideshow .btn:focus,
.slideshow .btn:hover { background-color: #e9392d; }

.slideshow .btn-fill { background-color: #f44336; }

.slideshow .panel-heading { background-color: #f44336; }

/* Slideshow - Indicators
 .................................................................................*/
.slideshow .carousel-indicators { background-color: #f44336; }

.slideshow .carousel-indicators>li.active { color: #f44336; }
.slideshow .carousel-indicators>li.active .indicators-icon>span,
.slideshow .carousel-indicators>li.active:hover .indicators-icon>span {
  border-color: #f44336;
  background-color: #f44336;
}


/*------------------------------------------------------------------------------------------------
 06) FEATURES
 ------------------------------------------------------------------------------------------------*/
.features .feature-block .wrapper-icon:before { background-color: #f44336; }

/* Features - Accordion
 .................................................................................*/
.features label>.wrapper-icon { background-color: #f44336; }
.features label:nth-child(1)>.wrapper-icon { background-color: #d33428; }
.features label:nth-child(2)>.wrapper-icon { background-color: #e9392d; }
.features label:nth-child(3)>.wrapper-icon { background-color: #f44336; }
.features label:nth-child(4)>.wrapper-icon { background-color: #ff4d3f; }

.features label>.wrapper-description { background-color: #f44336; }
.features label:nth-child(1)>.wrapper-description { background-color: #d33428; }
.features label:nth-child(2)>.wrapper-description { background-color: #e9392d; }
.features label:nth-child(3)>.wrapper-description { background-color: #f44336; }
.features label:nth-child(4)>.wrapper-description { background-color: #ff4d3f; }


/*------------------------------------------------------------------------------------------------
 07) OVERVIEW
 ------------------------------------------------------------------------------------------------*/
/* Overview - Collapse
 .................................................................................*/
.overview .panel-default>.panel-heading { background-color: #f44336; }

/* Overview - Tabs Content
 .................................................................................*/
.overview .overview-tabs>li.active>a { background-color: #f44336; }

/* Donuts Chart
 ......................................*/
.overview .overview-chart g path[data-order="0"] { fill:#ff4d3f; }
.overview .overview-chart g path[data-order="1"] { fill:#f44336; }
.overview .overview-chart g path[data-order="2"] { fill:#e9392d; }
.overview .overview-chart g path[data-order="3"] { fill:#d33428; }

/* Overview - Newsletter
 .................................................................................*/
.overview .section-footer { background-color: #f44336; }


/*------------------------------------------------------------------------------------------------
 08) GALLERY
 ------------------------------------------------------------------------------------------------*/
/* Thumbnail
 ......................................*/
.gallery .link-details { background-color: #f44336; }

.gallery .link-modal { background-color: #f44336; }

.gallery .thumb-title { background-color: #f44336; }


/*------------------------------------------------------------------------------------------------
 09) TESTIMONIALS
 ------------------------------------------------------------------------------------------------*/
/* Testimonials - Testimonials Carousel
 .................................................................................*/
.testimonials .slide-testimonials-bloquotes { background-color: #f44336; }

.testimonials blockquote { background-color: #f44336; }
.testimonials blockquote:before { border-top-color: #f44336; }

/* Testimonials - Thumbs Carousel
 .................................................................................*/
.testimonials .testimonials-company:hover { color: #f44336; }

/* Testimonials - Logo Clients
 .................................................................................*/
.testimonials .section-footer { background-color: #f44336; }


/*------------------------------------------------------------------------------------------------
 10) PRICES
 ------------------------------------------------------------------------------------------------*/
.prices .panel-popular { background-color: rgba(244, 67, 54, 0.1); }

.prices .plan-price { background-color: #f44336; }

.prices .panel-footer .btn {
  border-color: #f44336;
  background-color: #f44336;
}
.prices .panel-footer .btn:focus,
.prices .panel-footer .btn:hover { background-color: #e9392d; }

@media (min-width: 768px) {
  .prices .panel:hover {
    border-color: #f44336;
    box-shadow: 0 0 0 3px #f44336;
  }

  .prices .panel-popular {
    border-color: #f44336;
    box-shadow: 0 0 0 1px #f44336;
  }
  .prices .panel-popular:hover {
    background-color: rgba(244, 67, 54, 0.1);
    box-shadow: 0 0 0 5px #f44336;
  }
}


/*------------------------------------------------------------------------------------------------
 11) TEAM
 ------------------------------------------------------------------------------------------------*/
.team .team-social { background-color: #f44336; }

.team .team-name { background-color: #f44336; }

/* Progress Bars
 ......................................*/
.team .progress-bar { background-color: #f44336; }


/*------------------------------------------------------------------------------------------------
 12) BLOG
 ------------------------------------------------------------------------------------------------*/
.blog .blog-tabs .title { background-color: #f44336; }

/* Article Footer
 .................................................................................*/
.blog .footer-post .read-more { background-color: #f44336; }


/*------------------------------------------------------------------------------------------------
 13) CONTACT
 ------------------------------------------------------------------------------------------------*/
.contact .btn { background-color: #f44336; }
.contact .btn:focus,
.contact .btn:hover { background-color: #e9392d; }

/* Contact - Address
 .................................................................................*/
.contact .vcard a { color: #f44336; }

/* Contact - Social Icons
 .................................................................................*/
.social-icons .btn-social { background-color: #f44336; }


/***********************************************************************************************/
/*--------------------------------------   B L O G   -------------------------------------------/
/***********************************************************************************************/


/*----------------------------------------------------------------------------------------------
 14) PAGE DETAIL
 ----------------------------------------------------------------------------------------------*/
.blog-detail article h1 { color: #f44336; }


/*----------------------------------------------------------------------------------------------
 15) SIDEBAR - MODULE SEARCH
 ----------------------------------------------------------------------------------------------*/
.module-search .input-group-btn>.btn {
  border-color: #f44336;
  background-color: #f44336;
}
.module-search .input-group-btn>.btn:hover,
.module-search .input-group-btn>.btn:focus {
  border-color: #e9392d;
  background-color: #e9392d;
}


/*----------------------------------------------------------------------------------------------
 16) SIDEBAR - MODULE CALENDAR
 ----------------------------------------------------------------------------------------------*/
.module-calendar .table>tbody>tr.active>td,
.module-calendar .table>tbody>tr.active>th,
.module-calendar .table>tbody>tr>td.active,
.module-calendar .table>tbody>tr>th.active,
.module-calendar .table>tfoot>tr.active>td,
.module-calendar .table>tfoot>tr.active>th,
.module-calendar .table>tfoot>tr>td.active,
.module-calendar .table>tfoot>tr>th.active,
.module-calendar .table>thead>tr.active>td,
.module-calendar .table>thead>tr.active>th,
.module-calendar .table>thead>tr>td.active,
.module-calendar .table>thead>tr>th.active { background-color: #f44336; }

.module-calendar table a:not(.btn),
.module-calendar .table a:not(.btn) { color: #f44336; }


/*----------------------------------------------------------------------------------------------
 17) SIDEBAR - MODULE MENU CATEGORIES
 ----------------------------------------------------------------------------------------------*/
.module-menu-categories .nav-pills>li.active>a,
.module-menu-categories .nav-pills>li.active>a:focus,
.module-menu-categories .nav-pills>li.active>a:hover { background-color: #f44336; }


/*----------------------------------------------------------------------------------------------
 18) SIDEBAR - MODULE RECENT POSTS
 ----------------------------------------------------------------------------------------------*/
.module-recent-posts a { color: #f44336; }


/*----------------------------------------------------------------------------------------------
 19) SIDEBAR - MODULE ARCHIVES
 ----------------------------------------------------------------------------------------------*/
.module-archives .nav>li>a:hover[aria-expanded="true"],
.module-archives .nav>li>a[aria-expanded="true"] { background-color: #f44336; }

.module-archives .nav ul a { color: #f44336; }


/*----------------------------------------------------------------------------------------------
 20) SIDEBAR - MODULE RECENT COMMENTS
 ----------------------------------------------------------------------------------------------*/
.module-recent-comments a { color: #f44336; }


/*----------------------------------------------------------------------------------------------
 21) SIDEBAR - MODULE TAG
 ----------------------------------------------------------------------------------------------*/
.module-tags .tag:hover {
  border-color: #f44336;
  background-color: #f44336;
}


/*----------------------------------------------------------------------------------------------
 22) CONTENT - MODULE CATEGORIES
 ----------------------------------------------------------------------------------------------*/
.module-categories .list-grid>li.active>a,
.module-categories .list-grid>li.active>a:focus,
.module-categories .list-grid>li.active>a:hover {
  background-color: #f44336;
  border: 1px solid #f44336;
}

.module-categories .thumb-overlay .published { background-color: #f44336; }

.module-categories .content .title a { color: #f44336; }


/*----------------------------------------------------------------------------------------------
 23) CONTENT - BLOG META
 ----------------------------------------------------------------------------------------------*/
.blog-meta .blog-tags a { color: #f44336; }


/*----------------------------------------------------------------------------------------------
 24) CONTENT - BLOG AUTHOR INFO
 ----------------------------------------------------------------------------------------------*/
.blog-author-info .media-heading { color: #f44336; }


/*----------------------------------------------------------------------------------------------
 25) CONTENT - MODULE RELATED POSTS
 ----------------------------------------------------------------------------------------------*/
.module-related-posts .thumb-overlay .published { background-color: #f44336; }

.module-related-posts .content .title a { color: #f44336; }


/*----------------------------------------------------------------------------------------------
 26) CONTENT - MODULE AUTHOR POSTS
 ----------------------------------------------------------------------------------------------*/
.module-author-posts .list-grid>li.active>a,
.module-author-posts .list-grid>li.active>a:focus,
.module-author-posts .list-grid>li.active>a:hover {
  background-color: #f44336;
  border: 1px solid #f44336;
}

.module-author-posts .thumb-overlay .published { background-color: #f44336; }

.module-author-posts .content .title a { color: #f44336; }


/*----------------------------------------------------------------------------------------------
 27) CONTENT - PAGINATION
 ----------------------------------------------------------------------------------------------*/
.wrapper-pagination .pagination>.active>a,
.wrapper-pagination .pagination>.active>a:focus,
.wrapper-pagination .pagination>.active>a:hover,
.wrapper-pagination .pagination>.active>span,
.wrapper-pagination .pagination>.active>span:focus,
.wrapper-pagination .pagination>.active>span:hover { background-color: #f44336; }


/*----------------------------------------------------------------------------------------------
 28) CONTENT - MODULE COMMENTS
 ----------------------------------------------------------------------------------------------*/
.module-blog-comments form .submit-form-blog { background-color: #f44336; }
.module-blog-comments form .submit-form-blog:hover { background-color: #e9392d; }

.module-blog-comments .btn-reply { color: #f44336; }
